nav{
	background-color: #808E7F;
}

card{
	padding: 100px;
	margin: 100px;
}

p{
	text-align: justify;
}
P.logos{
	text-align: center;
}

img.logos{
	width:200px;
	height: 500px;
	padding-left: 20px;
}